name: CI
on:
  push:
  workflow_dispatch:
jobs:
  test-sdk-mta:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        archetype: ['cf-spring', 'cf-tomee']
        java: [ '8', '11' ]
    steps:
      - name: Setup java
        uses: joschi/setup-jdk@v2
        with:
          java-version: ${{ matrix.java }}
          architecture: x64
      - run: mvn -v
      - name: Generate test project
        run: |
          mvn archetype:generate -B -DarchetypeGroupId=com.sap.cloud.sdk.archetypes -DgroupId=mydemo -DartifactId=cloud-sdk-${{ matrix.archetype }}-archetype -DskipUsageAnalytics=true -Dversion=1.0 -DarchetypeArtifactId=scp-${{ matrix.archetype }} -DarchetypeVersion=LATEST
          cp -r cloud-sdk-${{ matrix.archetype }}-archetype/* .
          rm -rf cloud-sdk-${{ matrix.archetype }}-archetype
          wget https://gist.githubusercontent.com/fwilhe/0bc0848e9cc2487114c3c96060acbfc7/raw/2639331f9a1502c487000017f7b70db25b825ff6/mta-${{ matrix.archetype }}.yaml
          mv mta*yaml mta.yaml
      - run: curl -L "https://github.com/SAP/cloud-mta-build-tool/releases/download/v1.0.15/cloud-mta-build-tool_1.0.15_Linux_amd64.tar.gz" | sudo tar -zx -C /usr/local/bin

      - name: mtaBuild
        id: java-mta-build
        uses: SAP/project-piper-action@master
        with:
          command: mtaBuild
          flags: "--installArtifacts"
          piper-version: master

      - name: test
        if: contains(steps.java-mta-build, 'BUILD SUCCESS')
        run: echo success

      - name: mavenExecuteIntegration
        id: java-integration-test
        uses: SAP/project-piper-action@master
        with:
          command: mavenExecuteIntegration
          piper-version: master

      - name: test
        if: contains(steps.java-integration-test, 'BUILD SUCCESS')
        run: echo success


  test-sdk-mta-js:
    runs-on: ubuntu-latest
    steps:
      - run: |
          wget https://github.com/SAP/cloud-s4-sdk-book/archive/mta-js.zip
          unzip mta-js.zip
          rm mta-js.zip
          cp -r cloud-s4-sdk-book-mta-js/* .
          rm -rf cloud-s4-sdk-book-mta-js
      - run: curl -L "https://github.com/SAP/cloud-mta-build-tool/releases/download/v1.0.15/cloud-mta-build-tool_1.0.15_Linux_amd64.tar.gz" | sudo tar -zx -C /usr/local/bin

      - name: mtaBuild
        uses: SAP/project-piper-action@master
        with:
          command: mtaBuild
          piper-version: master


